<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jymf.dao.InspectDeviceMapper" >
  <resultMap id="BaseResultMap" type="org.jymf.entity.InspectDevice" >
    <result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="AUTHORITY" property="authority" jdbcType="DECIMAL" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
            Device_ID,
            Status,
            Operator
        FROM TBL_INSPECT_DEVICE_${t.companyId} 
        <where>
            1=1
            <if test="t.deviceId != null and t.deviceId != ''">
           	 AND Device_ID ='${t.deviceId}'
            </if>
        </where>
        ORDER BY Device_ID DESC
  </select>
    
  <select id="selectCount" parameterType="java.util.HashMap" resultType="java.math.BigDecimal">
    SELECT  count(Device_ID)
      FROM  TBL_INSPECT_DEVICE_${companyId} 
  </select>
    
  <insert id="insert" parameterType="org.jymf.entity.InspectDevice" >
    insert into TBL_INSPECT_DEVICE_${companyId} (DEVICE_ID, STATUS, AUTHORITY,OPERATOR
      )
    values (#{deviceId,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{authority,jdbcType=DECIMAL},#{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.jymf.entity.InspectDevice" >
    insert into TBL_INSPECT_DEVICE_${companyId}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        DEVICE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="authority != null" >
        AUTHORITY,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPrimaryKeySelective" parameterType="org.jymf.entity.InspectDevice">
    update TBL_INSPECT_DEVICE_${companyId}
    <set>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </update>
  
   <select id="selectByPrimaryKey" parameterType="org.jymf.entity.InspectDevice" resultMap="BaseResultMap">
    SELECT  Device_ID,
            Status,
            Operator
      FROM  TBL_INSPECT_DEVICE_${companyId} 
     WHERE  Device_ID = '${deviceId}'
  </select>
</mapper>